{% extends 'base.html' %}
{% load static %}


{% block title%}About Me{% endblock title%}

{% block content%}
<h1>Oscar Rodriguez</h1>
<img src="{% static 'img/oscar.jpg' %}" style="width:20%;">
<p>Hello, my name is Oscar i am in my first year of coding, and this is my first django application ive made. Some of my
    hobbies include, drawing painting, and digital art. I would consider myself a very artistic individual but i also
    enjoy logic based activtives also such as coding and math. </p>


{% endblock content%}